.sidebar {
	background-color: #131a34;
	color: #c2c6d9;
	padding: 0.75rem;
	min-height: 100vh;
	/* position: relative; */
	display: flex;
	flex-direction: column;
}
.sidebar ul {
	list-style: none;
}
.sidebar .sidebar-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}
.sidebar .sidebar-title img {
	max-width: 70%;
}

.sidebar .sidebar-menu {
	margin-top: 2em;
	font-size: 1.125rem;
	border-bottom: 1px solid #323c61;
}

.sidebar .sidebar-menu .sidebar-menu-item {
	cursor: pointer;
	padding: 0.5em;
}
.sidebar .sidebar-menu .sidebar-menu-item.active {
	background: #323c61;
}
.sidebar i {
	margin-right: 0.5em;
}
.sidebar .sidebar-team-list {
	margin-top: 1em;
	margin-bottom: 1em;
}
.sidebar .sidebar-team-list .team-list-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #7e849f;
}
.sidebar .sidebar-team-list ul {
	margin-top: 1rem;
}
.sidebar .sidebar-team-list .sidebar-team-item {
	display: flex;
	align-items: center;
	margin-top: 1em;
	cursor: pointer;
}

.sidebar-team-item .user-detail {
	margin-left: 0.75em;
}
.sidebar-team-item .user-detail .user-name {
	font-size: 1.125rem;
}

.sidebar-team-item .user-detail .user-desc {
	color: #7e849f;
}

.sidebar-footer {
	width: calc(100% - 1.5em);
	font-size: 1.125rem;
	border-top: 1px solid #323c61;
	margin-top: auto;
}

.sidebar-footer-item {
	cursor: pointer;
	margin-top: 0.5em;
}
